label{
  width:45%;
  font-size:14px;
}

input, select{
  width:50%;
  padding:6px;
  border:1px solid #ccc;
  border-radius:6px;
}

/* Effet focus bleu */
input:focus, select:focus{
  outline:none;
  border:2px solid #3b82f6;
  box-shadow:0 0 6px #3b82f6;
}

/* Boutons */
.btns{
  display:flex;
  justify-content:space-around;
  margin-top:10px;
}

button{
  border:none;
  color:white;
  padding:8px 15px;
  border-radius:8px;
  cursor:pointer;
}